* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/*-----HEADER-------*/
header h1 {
  font-size: 3vw;
  font-style: italic;
  color: #FFB4A2;
  margin-left: 15px;
  margin-bottom: 0px;
}
header nav ul {
  list-style-type: none;
  background-color: #6D6875;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vw;
  padding-right: 50px;
  margin-bottom: 0;
}
header nav ul li i {
  color: #FFCDB2;
  font-size: 3vw;
}
header nav ul a {
  text-decoration: none;
  color: white;
  font-size: 1.5vw;
}
header nav ul a:hover {
  color: #B5838D;
}

.tituloindex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 8vw;
  background-image: url(../img/logo.jpg);
  background-size: 30vw;
  background-position: right;
  background-repeat: no-repeat;
}

/*---------INDEX---------*/
.carousel {
  font-size: 3vw;
}
.carousel_img {
  height: 30vw;
}
@media (max-width: 768px) {
  .carousel_img {
    height: 3vw;
  }
}
.carousel-caption {
  color: #6D6875;
}
.carousel-indicators {
  width: 1vw;
}
@media (max-width: 768px) {
  .carousel-control-prev {
    width: 1vh;
  }
}
@media (max-width: 768px) {
  .carousel-control-next {
    width: 1vh;
  }
}

.sobremi {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  margin: 40px;
  border: #FFCDB2 solid 1px;
  grid-template-areas: "foto texto";
}
.sobremi_imagen {
  grid-area: foto;
  justify-items: center;
  margin: 10px;
  margin-top: 20px;
  width: 20vw;
}
.sobremi_texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  grid-area: texto;
  margin: 5px;
  margin-bottom: 10px;
}
.sobremi_texto_texto {
  font-size: 1.5vw;
  text-align: center;
}
.sobremi_texto_titulo {
  text-align: center;
}
@media (max-width: 996px) {
  .sobremi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/*-------HEROSECTION------*/
section h2 {
  height: 7vh;
  background-color: #B5838D;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  animation-name: cambiacolor;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@media (min-width: 791px) {
  section h2 {
    height: 20vw;
  }
}
section h2:hover {
  text-decoration: underline;
}

@keyframes cambiacolor {
  0% {
    background-color: #6D6875;
  }
  25% {
    background-color: #B5838D;
  }
  50% {
    background-color: #FFB4A2;
  }
  75% {
    background-color: #FFCDB2;
  }
  100% {
    background-color: white;
  }
}
/*-------SERVICIOS------*/
.contserv {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 5vh;
}
@media (max-width: 400px) {
  .contserv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
}
@media (min-width: 800px) {
  .contserv {
    gap: 70px;
  }
}
.contserv_terapia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contserv_coach {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contserv_esot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contserv_taller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contserv_titulo {
  color: #B5838D;
  font-size: 3vw;
  text-align: center;
}
.contserv_titulo:hover {
  text-decoration: underline;
  transform: scale(1.1);
}
.contserv_text {
  display: flex;
  margin-top: 20px;
  font-size: 1.5vw;
  width: 100px;
  text-align: center;
}
@media (min-width: 800px) {
  .contserv_text {
    width: 350px;
  }
}
.contserv_img {
  height: 20vw;
  width: 20vw;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.753);
}
.contserv_boton {
  text-decoration: none;
  border: #6D6875 dotted 1px;
  border-radius: 30px;
  margin-bottom: 10px;
}
.contserv_boton:hover {
  background-color: #6D6875;
  border: #FFB4A2 dotted 1px;
  transform: scale(1.5);
}
@media (min-width: 800px) and (max-width: 1000px) {
  .contserv_boton {
    border: #6D6875 dotted 2px;
  }
}
@media (min-width: 1001px) {
  .contserv_boton {
    border: #6D6875 dotted 3px;
  }
}
.contserv_boton_text {
  margin: 5px;
  font-size: 1vw;
  color: #6D6875;
}
.contserv_boton_text:hover {
  color: #FFCDB2;
}

/*-------POSTS------*/
.listadoposts1 {
  margin: 6px;
  margin-bottom: 15px;
  margin-left: 3vw;
  width: 25vw;
  box-shadow: 1px 1px 10px black;
  position: fixed;
  background-color: white;
}
.listadoposts {
  list-style-type: none;
  padding: 0vh;
  text-align: center;
}

section ul li a {
  text-decoration: none;
  color: #B5838D;
  font-size: 2vw;
  font-family: "Times New Roman", Times, serif;
}

.contenedorposts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 25vw;
  text-align: center;
  box-sizing: border-box;
}

section article {
  box-sizing: border-box;
  width: 60vw;
  border: dotted 1px;
  padding: 10px;
  margin: 20px;
}
section article img {
  width: 40vw;
  height: 25vw;
}
section article h3 {
  font-size: 2.5vw;
  margin-top: 8px;
}
section article p {
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 1.3vw;
  text-align: start;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.bi-bookmark-heart-fill {
  font-size: 2vw;
  color: #B5838D;
}
.bi-bookmark-heart-fill:hover {
  color: #FFCDB2;
}

/*-------CONTACTO------*/
fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  row-gap: 3vh;
  margin: 7vh;
  font-size: 1vh;
}
@media (min-width: 700px) {
  fieldset {
    font-size: 2vh;
    margin: 100px;
  }
}

/*-------FOOTER------*/
footer section ul {
  background-color: #B5838D;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 10vw;
  margin-bottom: 0px;
}
footer section ul a:hover {
  transform: scale(1.6);
}
footer section ul a i {
  color: #FFCDB2;
  font-size: 2vw;
}
footer section ul a i:hover {
  color: #6D6875;
}

body {
  margin-bottom: 0px;
}

/*# sourceMappingURL=styles.css.map */
