*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  @mixin flexcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
  }

/*-----HEADER-------*/

header{
        h1{
            font-size: 3vw;
            font-style: italic;
            color: #FFB4A2;
            margin-left: 15px;
            margin-bottom: 0px;
        }     
        
    nav{
        ul{
            list-style-type: none;
            background-color: #6D6875;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 10vw;
            padding-right: 50px;
            margin-bottom: 0;
            li{
                i{
                    color: #FFCDB2;
                    font-size: 3vw;
                }
            }
            a{
                text-decoration: none; 
                color:white ;
                font-size: 1.5vw;
                &:hover{
                    color: #B5838D;
                    transition-duration: 2s;
                }      
                }
            }
          
            }
    }

.tituloindex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 8vw;
    background-image: url(../img/logo.jpg);
    background-size: 30vw;
    background-position: right;
    background-repeat: no-repeat;
}

/*---------INDEX---------*/

.carousel{
    font-size: 3vw;
    &_img{
    height: 30vw;
    @media (max-width:768px) {      
        height: 3vw;
        }
    }
    &-caption{
        color: #6D6875;
    } 
    &-indicators{   
            width: 1vw;
    }
    &-control-prev{      
        @media (max-width:768px) {      
            width: 1vh;
            }
    }
    &-control-next{    
        @media (max-width:768px) {      
            width: 1vh;
            }
    }
}

.sobremi{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    margin: 40px;
    border: #FFCDB2 solid 1px;
    grid-template-areas: 
    "foto texto";
    &_imagen{
        grid-area: foto;
        justify-items: center;
        margin: 10px;
        margin-top: 20px;
        width: 20vw;
    }
    &_texto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        grid-area: texto;
        margin: 5px;
        margin-bottom: 10px;
        &_texto{
            font-size: 1.5vw;
            text-align: center;
        }
        &_titulo{
            text-align: center;
        }
    }
    @media (max-width:996px) {
        @include flexcenter()       
    }
}

/*-------HEROSECTION------*/

section h2{
    height: 7vh;
    background-color: #B5838D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    @media (min-width:791px) {
        height: 20vw;  
    }
    &:hover{
        text-decoration: underline;
        transition-duration: 2s;
    }
    animation-name: cambiacolor;
    animation-duration: 10s;
    animation-iteration-count: infinite;
} 

@keyframes cambiacolor{
    0%{
        background-color: #6D6875;
    }

    25%{
        background-color: #B5838D;
    }

    50%{
        background-color: #FFB4A2;
    }

    75%{
        background-color: #FFCDB2;
    }

    100%{
        background-color: white;
    }
}

/*-------SERVICIOS------*/

.contserv{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 5vh;
    @media (max-width:400px) {
        @include flexcenter(); 
        gap: 60px;   
    }
    @media (min-width:800px){
        gap: 70px;     
    }
    &_terapia{
        @include flexcenter();
    }
    &_coach{
        @include flexcenter();
    }
    &_esot{
        @include flexcenter();
    }
    &_taller{
        @include flexcenter();
    }
    &_titulo{
        color: #B5838D;
        font-size: 3vw;
        text-align: center;
        &:hover{
            text-decoration: underline;
            transform: scale(1.1);
            transition-duration: 3s;
        }
    }
    &_text{
        display: flex;
        margin-top: 20px;
        font-size: 1.5vw;
        width: 100px;
        text-align: center;
        @media (min-width:800px){
            width: 350px;     
        }
    }
    &_img{
        height: 20vw;
        width: 20vw;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.753);
   
    }
    &_boton{
        text-decoration: none;
        border: #6D6875 dotted 1px;
        border-radius: 30px;
        margin-bottom: 10px;
        &:hover{
            background-color: #6D6875;
            border: #FFB4A2 dotted 1px;
            transform: scale(1.5);
            transition-duration: 3s;
        }
        @media (min-width:800px) and (max-width:1000px){
            border: #6D6875 dotted 2px;
            }
            @media (min-width: 1001px) {
                border: #6D6875 dotted 3px;
            }
        &_text{
            margin: 5px;
            font-size: 1vw;
            color: #6D6875;
            &:hover{
                color: #FFCDB2;
            }
            
        }
        
    }
}

/*-------POSTS------*/

.listadoposts1{
    margin-left: 3vw;
    width: 27vw;    
    box-shadow: 1px 1px 10px black;
    position: fixed;
    top: 25vw;
    margin-bottom: 20vw;
    background-color: white;
    @media (min-width:700px) {
    }
}

.listadoposts{
    list-style-type: none;
    padding: 0vh;
    text-align: center;
}

section ul li a{
    text-decoration: none;
    color:#B5838D;    
    font-size: 2vw;
    font-family:'Times New Roman', Times, serif;
}

.contenedorposts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 25vw;
    text-align: center;
    box-sizing: border-box;
}

section article{
    box-sizing: border-box;
    width: 60vw;    
    border: dotted 1px;
    padding: 10px;
    margin: 20px;
    & img{
        width: 40vw;
        height: 25vw;
    }
    & h3{
        font-size: 2.5vw;
        margin-top: 8px;

    }
    & p{
        margin-left: 10vw;
        margin-right: 10vw;
        font-size: 1.3vw;
        text-align: start;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    }
}

.extra{
    text-align: end;
    &_titulo{
        font-size: 1vw;
    }
}

.bi-bookmark-heart-fill{
    font-size: 2vw;
    color: #B5838D;
    &:hover{
        color: #FFCDB2;
    }
}


/*-------CONTACTO------*/

fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    row-gap: 3vh;
    margin: 7vh;
    font-size: 1vh;
    @media (min-width:700px) {
        font-size: 2vh;
        margin: 100px;
    }
}

/*-------FOOTER------*/

footer section ul{
    background-color: #B5838D;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 10vw;
    margin-bottom: 0px;
    a{
        &:hover{
        transform: scale(1.6);
    }
     i{
        color: #FFCDB2;
        font-size: 2vw;
        &:hover{
            color: #6D6875;
            }
        }
    }
}

body{
    margin-bottom: 0px;
}